.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.input {
  width: 100%;
  max-width: 280px;
  height: 30px;
  padding: 0 15px 0 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: rgb(41, 0, 0);
  background-color: rgba(10, 85, 151, 0.116);
  transition: 0.3s ease;
}
.input:focus {
  background-color: rgba(10, 85, 151, 0.305);
  transition: 0.3s ease;
}
.input:hover {
  background-color: rgba(10, 85, 151, 0.305);
  transition: 0.3s ease;
}

.button {
  width: 100%;
  max-width: 180px;
  height: 40px;
  padding: 0 15px 0 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(41, 0, 0);
  background-color: rgba(10, 85, 151, 0.116);
  cursor: pointer;
  transition: 0.3s ease;
}
.button:hover {
  background-color: rgba(10, 85, 151, 0.305);
  transition: 0.3s ease;
}
.button:focus {
  background-color: rgba(10, 85, 151, 0.305);
  transition: 0.3s ease;
}
